body{
    margin: 0;
    padding: 0;
}

header{
    height: 48px;
    width: 100%;
    position: fixed;
    color: rgb(77, 77, 77);
    background-color: #fff;
}

nav{
    height: 48px;
    width: 100%;
    max-width: 1236px;
    margin: 0 auto;
    display: flex;
}

.right-header{
    height: 48px;
    width: 100%;
    max-width: 143.2px;
}

.right-header ul, .right-header ul li button, .right-header ul li p{
    margin: 0;
    padding: 0;
    border: transparent;   
    background-color: transparent;
}

.right-header ul{
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: space-around;
}

.right-header ul li p{
    cursor: default;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.right-header ul li p:hover{
    border-bottom: 2px solid black;
    color: black;
}

.right-header ul li{
    display: inline-block;
}

.right-header img{
    cursor: pointer;
}

.space-header{
    height: 48px;
    width: 100%;
    max-width: 100px;
}

.left-header{
    height: 48px;
    width: 100%;
}

.left-header ul, .left-header ul li button, .left-header ul li p{
    margin: 0;
    padding: 0;
    border: transparent;   
    background-color: transparent;
}

.left-header ul {
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: space-around;
}

.left-header ul li{
    display: inline-block;
}

.left-header ul li p{
    cursor: default;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left-header ul li p:hover{
    border-bottom: 2px solid black;
    color: black;
}

.logo-header{
    height: 48px;
    width: 100%;
    max-width: 110px;
    display: flex;
}

.logo-header button{
    border: transparent;
    background-color: transparent;
}

.logo-header img{
    cursor: pointer;
}
